.blog-page-wrapper {
  padding: 12vw 10vw 4vw 10vw;
}
.blog-title {
  margin-bottom:0px;
}

.blog-render {
  white-space: initial;
  word-break: break-word;
  --bg-color: rgb(38,38,45); 
  --txt-color: white;
}
.blog-render-dark {
  --bg-color: rgba(255,255,255,0.9); 
  --txt-color: rgb(38,38,45); 
}
.blog-render pre {
  border-radius: 10px;
  background-color: var(--bg-color);
  color: var(--txt-color);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow:auto;
}

.blog-render img {
  width: 100%;
}
.blog-render h2 {
  padding-top: 1em;
  padding-bottom: 0.5em;
  letter-spacing: .07em;
  font-size: 1.8em;
  font-weight: 300;
  color: #6284be;
}

.blog-render h3 {
  font-size: 1.3em; 
  font-weight: bold;
  color: unset;
  text-align: unset;
  padding-top:unset;
  padding-bottom:unset;
  letter-spacing: unset;
}

.blog-title-date {
  margin-top:0px;
}
.blog-page-wrapper h1 {
  font-size: 5vh;
  line-height: 5vh;
}
.blog-title-img {
  width: 100%;
}
.blog-page-wrapper .blog-title-img img {
  border-radius: 10px;
}


@media all and (max-width: 769px) {
  .blog-page-wrapper {
    padding: 20vw 5vw 4vw 5vw;
  }
}